# Expo directories
.expo/
web-build/

# Dependency directories
node_modules/

# Build directories
dist/

# Local env files
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json.log
